/*
 ##### ADD ESSA INFORMAÇÃO À DOCUMENTAÇÃO #########

    !! SEMPRE USAR CLASSES PARA ESTILOS CSS. IDs APENAS EM CASOS EXTREMAMENTE ESPECÍFICOS !!

    !! SEMPRE USAR IDs PARA FUNÇÕES DE INTERATIVIDADE. EX (Js, PHP, REACT.js, etc) !!
 
    FOI DE ESCOLHA DO 1° DESENVOLVEDOR APLICAR O CSS EM ORDEM ALFABÉTICA

    ## BOAS PRÁTICAS CSS ##
    É BOA PRÁTICA UTILIZAR A VERSÃO RESUMIDA DO CÓDIGO, UTILIZANDO TODOS OS PARAMETROS DA PROPRIEDADE

    É BOA PRÁTICA SEPARAR OS SELETORES POR NÍVEL DE GENERALIDADE, DO GERAL AO MAIS ESPECÍFICO

    É BOA PRÁTICA UTILIZAR FLEXBOX PARA POSICIONAMENTOS E NÃO MARGENS

    ######################

    É BOM POSSUIR CONHECIMENTO DE FLEXBOX, POSICIONAMENTO DE ELEMENTOS, MEDIAQUERIES, PSEUDO ELEMENTOS E PSEUDO CLASSES
*/

/*
=====================
=====================
 CONFIGURAÇÕES GERAIS
=====================
=====================
*/

* {
    font-family: 'poppins';
    padding: 0px;
    margin: 0px;
}

.header, .footer {
    background: #134c96;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header .col-left,.header .col-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 6vw;
    width: 50%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h1 {
    font-size: 55px;
}

.h2 {
    font-size: 20px;
}

/*Elementos header*/
.header h1, .header h2 {
    color: white;
    margin-left: 30px;
}

ul{
    list-style: none;
}

.header.col-right .nav-bar ul li{
    margin: 0 10px;
}

.nav-bar ul li a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 300ms ease;
}

.nav-bar ul li a:hover{
    color: rgb(238, 238, 153);
    transition: all 300ms ease;
}

.header.col-right .nav-bar ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

/*Elementos Footer*/
.footer .col-left, .footer .col-right {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    width: 45%!important;
    height: 4vw;
    text-transform: uppercase;
}

.footer .col-left {
    padding-left: 25px;
    justify-content: start;
}

.footer .col-right {
    padding-right: 25px;
    justify-content: flex-end;
}

.footer .col-left p, .footer .col-right p {
    color: white;
}

@media only screen and (max-width: 767px) {
    /*header*/
    .header {
        display: block;
        height: auto;
    }
    .header.col-left {
        text-align: center;
    }
    .header.col-left h1, .header.col-left h2 {
        margin: 0;
    }
    .header.col-left h1 {
        font-size: 30px;
    }
    .header.col-left h2 {
        font-size: 18px;
    }
    /*footer*/
    .footer {
        flex-direction: column!important;
        align-content: center;
    }
    .footer .col-left, .footer .col-right {
        padding: 10px 0px;
        justify-content: center;
        width: 100%!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
    /*header*/
    .header {
        display: block;
        height: auto;
    }
    .header.col-left {
        text-align: center;
    }
    .header.col-left h1, .header.col-left h2 {
        margin: 0;
    }
    .header.col-left h1 {
        font-size: 40px;
    }
    .header.col-left h2 {
        font-size: 24px;
    }
    /*footer*/
    .footer {
        flex-direction: column!important;
        align-content: center;
    }
    .footer .col-left, .footer .col-right {
        padding: 10px;
        justify-content: center;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1600px) {
    /*header*/
    .header {
        display: block;
        height: auto;
    }
    .header.col-left {
        text-align: center;
    }
    .header.col-left h1, .header.col-left h2 {
        margin: 0;
    }
    /*footer*/
    .footer {
        flex-direction: column!important;
        align-content: center;
    }
    .footer .col-left, .footer .col-right {
        padding: 10px;
        justify-content: center;
    }
}

